@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
/* .different-title {
    font-family: 'great vibes';
    font-size: 40px; 
    color: rgb(0, 0, 0);
}
.sub-title{
    font-family: 'poppins' ;
    color: rgb(255, 255, 255);
     font-size: 45px;
}
.title2{
    font-family: 'great vibes';
    font-size: 35px; 
    color: rgb(217, 77, 100);
}

.title1{
    font-family: 'poppins' ;
    color: rgb(0, 0, 0);
     font-size: 45px;
} */
